:root {
    --base-color: #BAEF00;
    --base-color-hover: #D9FF56;
    --base-color-active: #A3D200;
    --black-color: #263238;
    --placeholder-color: #8D8D8D;
    --border-color: #E3E3E3;
    --transition-duration: .3s;
    --price-color: #6C6C6C;
    --base-border-radius: 12px;
    --text-white-color: #fff;
    --default-font-size: 16px;
    --mobile-font-size: 14px;
    --negative-margin: -15px;
    --base-padding: 15px;
}